.App {
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 letter-spacing: 1.5px;
}
.cursor{
  cursor: pointer;
}

.medium-text{
  color: #02B9B1;
}
.medium-white{
  color:#fff;
  cursor: pointer;
}
.medium-white:hover{
  color: #02B9B1;
  transition: .5s ease all;
}
.big-text{
  color:#072264;
}
.p-text{
  color:#4F5256;
}
.discount{
  background-color: #02B9B1;
}

.navLink-color{
color: #02B9B1;
}
.navLink-color:hover{
 color:#16a59e;
  transition: .5s ease all;
}
.bg-color{
  background-color: #02B9B1;
 /* height31.25rem; */
}
.image-height{
  width: 200px;
  height: 270px;
}

.discount-design{
  margin-left:8px;
  padding:5px;
  color:rgb(129, 11, 11);
  background-color: rgb(245, 132, 132);
  border-radius: 15px;
  font-size:12px;
  font-weight: bold;
}
.input-quantity{
  outline: none;

}
.form-bg{
  height:800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

.form{
  background-image:linear-gradient(rgba(255, 255, 255, 0.363), rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.288));
  border-radius: 10px;
  z-index: 2;
}
.sign-in-design{
  text-decoration: none;
  color:#072264;
}
.border-design:hover{
  border: 1px dashed #02B9B1;
  transition: .5s ease all;
}
.footer-bg{
  background: #050F33;
}
.default-img {
  width: 35px;
  margin: 0 15px;
}