.App {
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
 
}

.medium-text{
  color: #02B9B1;
}
.big-text{
  color:#072264;
}
.p-text{
  color:#4F5256;
}
.discount{
  background-color: #02B9B1;
}

.navLink-color{
color: #02B9B1;
}
.navLink-color:hover{
 color:#16a59e;
  transition: .5s ease all;
}
.bg-color{
  background-color: #02B9B1;
 height:45vh;
}
